{{#if isLoading}}
  {{icon 'spinner'}}
{{else if photo}}
  <img src={{photo.url}} alt={{photo.name}}>
  <span id="{{dasherize name}}-delete" class="delete-photo" onclick={{action 'removePhoto'}}>{{icon 'cancel-solid'}}</span>
  {{#tool-tip for=(concat (dasherize name) "-delete")}}
    Remove Photo
  {{/tool-tip}}
{{else}}
  {{#file-upload name=name accept="image/*" multiple=multiple onfileadd=onchange}}
    {{icon 'add-solid'}} Add Photo
  {{/file-upload}}
{{/if}}
