{{#file-dropzone name='new-hero'}}
  {{#form-for group onsubmit=(action 'submit') as |f|}}
    <header>{{icon 'photo-solid'}} Change Photo</header>
    <div class="body">
      {{#f.file 'coverPhoto' name='new-hero' as |file|}}
        <img src="{{file.url}}" alt="{{file.name}}" />
      {{else}}
        {{icon 'add-solid'}} Add Photo
      {{/f.file}}
    </div>
    <footer>
      <button>Change Photo</button>
      {{#action-link action=dismiss}}Cancel{{/action-link}}
    </footer>
  {{/form-for}}
{{/file-dropzone}}