{{title model.name}}
{{remember-document-scroll key=(concat 'teacher/' model.id)}}

<br>
<div class="frame">
  <section id="teacher">
    <h2>{{#link-to "teachers"}}Teachers{{/link-to}} {{icon "right-chevron"}} {{model.name}}</h2>
    <nav>
      <hr>
      {{#action-link action=(action (mut isDeleting) true)}}
        {{icon "cancel-solid"}} Delete Teacher
      {{/action-link}}
      {{#if isDeleting}}
        {{dialog-box (component 'delete-dialog'
            model=model
            onsubmit=(route-action 'deleteTeacher' model))
          ondismiss=(action (mut isDeleting) false)}}
      {{/if}}
      <hr class="thick">
    </nav>
    {{#form-for model class="flex-row half" onsubmit=(route-action 'save') as |f|}}
      <div>
        {{f.photos 'photos'}}
      </div>
      <div>
        {{f.text 'name'}}
        {{f.text 'url'}}
        {{f.textarea 'bio' rows=5}}
        {{f.submit}}
      </div>
    {{/form-for}}
  </section>
</div>
