{{title "Queer Tango Club"}}

{{#liquid-if session.currentUser class="admin"}}
  <div class="frame">
    <div class="flex-row collapse-none">
      <ul>
        <li>
          {{#link-to 'index'}}{{session.currentGroup.name}}{{/link-to}} / {{#link-to 'admin.user' session.currentUser}}{{session.currentUser.name}}{{/link-to}}
        </li>
      </ul>
      {{#action-link action=(route-action 'logout')}}Logout{{/action-link}}
    </div>
  </div>
  <hr class="thin">
  <div class="frame links">
    <div class="flex-row collapse-none">
      <ul>
        <li>
          {{#link-to 'admin.group' session.currentGroup}}My Group{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.posts'}}Posts{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.events'}}Events{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.teachers'}}Teachers{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.locations'}}Locations{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.members'}}Members{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.ledger'}}Ledger{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.privates'}}Privates{{/link-to}}
        </li>
        <li>
          {{#link-to 'admin.users'}}Users{{/link-to}}
        </li>
        {{#from-elsewhere name='admin' as |item|}}
          {{#if item}}
            <li class="extra">
              {{component item}}
            </li>
          {{/if}}
        {{/from-elsewhere}}
      </ul>
    </div>
  </div>
{{/liquid-if}}
{{progress-bar value=(get (file-queue) 'progress')}}

<div id="{{dasherize currentPath}}" class="root">
  {{#unless (contains currentPath 'admin')}}
    <header class="frame">
      <div class="flex-row collapse-none">
        {{#unless (equals currentPath 'index')}}
          <h1 class="logo align-left">
            {{#link-to 'index' title="Queer Tango Club"}}
              <span class="q">Queer</span>
              <span class="t">Tango</span>
              <span class="c">Club</span>
            {{/link-to}}
          </h1>
        {{/unless}}
        <nav>
          {{#link-to 'about'}}About{{/link-to}}
          {{#link-to 'events'}}Events{{/link-to}}
        </nav>
      </div>
    </header>
  {{/unless}}

  <main>
    {{outlet}}
  </main>

  {{#unless (contains currentPath 'admin')}}
    <footer>
      <div class="frame">
        {{#if model.facebook}}
          <a class="nolink" href="https://facebook.com/nycqueertangoclub" target="_blank">{{icon "facebook"}}</a>
          <a href="https://facebook.com/nycqueertangoclub" target="_blank">nycqueertangoclub</a>
          <span class='vr'></span>
        {{/if}}
        {{#if model.twitter}}
          <a class="nolink" href="https://twitter.com/{{model.twitter}}" target="_blank">{{icon "twitter"}}</a>
          <a href="https://twitter.com/{{model.twitter}}" target="_blank">@{{model.twitter}}</a>
          <span class='vr'></span>
        {{/if}}
        <a href="mail-to:{{model.email}}" class="contact">{{icon 'email-solid'}}</a>
        <a href="mail-to:{{model.email}}" class="contact">{{model.email}}</a>
      </div>
    </footer>
  {{/unless}}
  {{dialog-box}}
  {{snack-bar}}
</div>
