{{title "Queer Tango Club"}}

{{#liquid-if session.currentUser class="admin"}}
  <div class="frame">
    <div class="flex-row collapse-none">
      <ul>
        <li>
          {{icon 'happy'}} {{#link-to 'group' session.currentGroup}}{{session.currentGroup.name}}{{/link-to}}
        </li>
      </ul>
      {{#action-link action=(route-action 'logout')}}Logout{{/action-link}}
    </div>
  </div>
  <hr class="thin">
  <div class="frame links">
    <div class="flex-row collapse-none">
      <ul>
        <li>
          {{#link-to 'teachers'}}Teachers{{/link-to}}
        </li>
        <li>
          {{#link-to 'locations'}}Locations{{/link-to}}
        </li>
        <li>
          {{#link-to 'members'}}Members{{/link-to}}
        </li>
        <li>
          {{#link-to 'expenses'}}Expenses{{/link-to}}
        </li>
        <li>
          {{#link-to 'privates'}}Privates{{/link-to}}
        </li>
        <li>
          {{#link-to 'users'}}Users{{/link-to}}
        </li>
      </ul>
      {{#from-elsewhere name='admin' as |item|}}
        {{#if item}}
          {{component item}}
        {{/if}}
      {{/from-elsewhere}}
    </div>
  </div>
{{/liquid-if}}
{{progress-bar value=(get (file-queue) 'progress')}}

<div id="{{dasherize currentPath}}" class="root">
  <header class="frame">
    <div class="flex-row collapse-none">
      {{#unless (equals currentPath 'index')}}
        <h1 class="logo align-left">
          {{#link-to 'index' title="Queer Tango Club"}}
            <span class="q">Queer</span>
            <span class="t">Tango</span>
            <span class="c">Club</span>
          {{/link-to}}
        </h1>
      {{/unless}}
      <nav>
        {{#link-to 'about'}}About{{/link-to}}
        {{#link-to 'events'}}Events{{/link-to}}
      </nav>
    </div>
  </header>

  <main>
    {{outlet}}
  </main>

  <footer>
    <div class="frame">
      <a class="nolink" href="https://facebook.com/nycqueertangoclub" target="_blank">{{icon "facebook"}}</a>
      <a href="https://facebook.com/nycqueertangoclub" target="_blank">nycqueertangoclub</a>
      <span class='vr'></span>
      <a href="mail-to:info@queertangoclub.nyc" class="contact">{{icon 'email-solid'}}</a>
      <a href="mail-to:info@queertangoclub.nyc" class="contact">info@queertangoclub.nyc</a>
    </div>
  </footer>
  {{dialog-box}}
  {{snack-bar}}
</div>
