{{title "Teachers"}}

<div id="users">
  <div class="frame">
    <header>
      <h2>
        {{search-field query=q onquery=(action (mut q)) placeholder="Teachers"}}
      </h2>
    </header>
    <nav>
      <hr>
      {{#action-link action=(action (mut isAdding) true)}}
        {{icon "fan"}} Add Teacher
      {{/action-link}}
      {{#if isAdding}}
        {{dialog-box (component 'new-teacher-dialog'
            onsubmit=(route-action 'createTeacher'))
          ondismiss=(action (mut isAdding) false)}}
      {{/if}}
    </nav>
  </div>
  {{tabular-list columns='name' rows=model href='teacher' sort=sort icon='fan'}}
</div>