{{title "Locations"}}
{{remember-document-scroll key='locations'}}

<div id="locations">
  <div class="frame">
    <header>
      <h2>
        {{search-field query=q onquery=(action (mut q)) placeholder="Locations"}}
      </h2>
    </header>
    <nav>
      <hr>
      {{#action-link action=(action (mut isAdding) true)}}
        {{icon "location-solid"}} Add Location
      {{/action-link}}
      {{#if isAdding}}
        {{dialog-box (component 'new-location-dialog'
            onsubmit=(route-action 'createLocation'))
          ondismiss=(action (mut isAdding) false)}}
      {{/if}}
    </nav>
  </div>
  {{tabular-list columns='name addressLine city regionCode:State' rows=model href='location' sort=sort icon='location'}}
</div>
