<div class="table">
  <div class="table-header thin-border-bottom">
    <div class="frame">
      <div class="flex-row">
        {{#each displayColumns as |column|}}
          {{#link-to (query-params sort=(if (equals sort column.asc) column.desc column.asc))
            class=(concat "table-cell " (dasherize (or column.key column.asc)) " " (if (equals sort column.key) 'asc active') " " (if (equals sort column.desc) 'desc active'))}}
            {{capitalize column.label}}
            {{icon 'down-chevron'}}
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
  <div class="table-body">
    {{#each rows as |row|}}
      {{#link-to href row}}
        <span class="frame">
          <span class="flex-row">
            {{#each displayColumns as |column|}}
              <span class="table-cell {{dasherize (or column.key column.asc)}}">
                {{#with (hash value=(get row column.value)) as |h|}}
                  {{#if (or (equals h.value true) (equals h.value false))}}
                    {{#if h.value}}
                      {{icon 'eye'}}
                    {{else}}
                      {{icon 'eye-closed'}}
                    {{/if}}
                  {{else if h.value.getTime}}
                    {{l 'date' h.value}}
                  {{else if h.value.currency}}
                    {{l 'currency' h.value.value}}
                  {{else}}
                    {{h.value}}
                  {{/if}}
                {{/with}}
              </span>
            {{/each}}
          </span>
        </span>
      {{/link-to}}
    {{else}}
      <br>
      <div class="smcp align-center">
        {{icon icon class='empty-state'}}
        <br>
        No Results Found
      </div>
    {{/each}}
  </div>
</div>
