{{title "Ledger"}}

<div id="ledger">
  <div class="frame">
    <br>
    <header>
      <h2>
        {{#link-to 'admin.events'}}Events{{/link-to}} {{icon "right-chevron"}} {{#link-to 'admin.event'}}{{model.event.title}}{{/link-to}} {{icon "right-chevron"}} Ledger
      </h2>
    </header>
    <nav>
      <hr>
      {{#action-link action=(action (mut isAdding) true)}}
        {{icon "piggy-bank-solid"}} Add Expense
      {{/action-link}}
      {{#if isAdding}}
        {{dialog-box (component 'new-expense-dialog'
            onsubmit=(route-action 'createExpense'))
          ondismiss=(action (mut isAdding) false)}}
      {{/if}}
    </nav>
  </div>
  <div class="balance-bar {{if (gt model.meta.balance.amount 10000) 'positive' (if (gt model.meta.balance.amount 0) 'low' 'negative')}}">
    <div class="frame">
      <span class='smcp'>Balance</span> {{l 'currency' model.meta.balance.amount currency=model.meta.balance.currency}}
    </div>
  </div>
  {{sortable-list columns=(list 'description' 'paidBy' 'paidAt' (hash key='paid' asc='-amount' desc='amount')) load=(route-action 'load') rows=model.model total=model.meta.page.total href='admin.transaction' sort=sort icon='piggy-bank'}}
</div>