{{title 'Events'}}
<section>
  <div class="frame">
    <nav>
      <h2>Events</h2>
      <hr>
      {{#action-link action=(action (mut isAdding) true)}}
        {{icon 'calendar-solid'}} Add Event
      {{/action-link}}
      {{#if isAdding}}
        {{dialog-box (component 'new-event-dialog'
            onsubmit=(route-action 'addEvent'))
          ondismiss=(action (mut isAdding) false)}}
      {{/if}}
    </nav>
    <hr class="thick">
    <br>
  </div>
  {{#each model.upcoming as |event|}}
    {{#each event.coverPhotos as |coverPhoto|}}
      {{cover-photo coverPhoto=coverPhoto}}
    {{/each}}
  {{/each}}

  <div class="frame">
    <h2>Past Events</h2>
    <hr class="thick">
    <br>
  </div>
  {{#each model.past as |event|}}
    {{#each event.coverPhotos as |coverPhoto|}}
      {{cover-photo coverPhoto=coverPhoto}}
    {{/each}}
  {{/each}}
</section>
