{{title "Users"}}
{{remember-document-scroll key='users'}}

<div id="users">
  <div class="frame">
    <header>
      <h2>
        {{search-field query=q onquery=(action (mut q)) placeholder="Users"}}
      </h2>
    </header>
    <nav>
      <hr>
      {{#action-link action=(action (mut isInviting) true)}}
        {{icon "person"}} Invite User
      {{/action-link}}
      {{#if isInviting}}
        {{dialog-box (component 'new-user-dialog'
            onsubmit=(route-action 'createUser'))
          ondismiss=(action (mut isInviting) false)}}
      {{/if}}
    </nav>
  </div>
  {{sortable-list columns=(list 'name' 'email' 'lastSignInAt') load=(route-action 'load') rows=model.model total=model.meta.page.total href='admin.user' sort=sort}}
</div>