{{remember-document-scroll key=(concat 'post/' model.id '/edit')}}
{{title model.title}}

{{#file-dropzone name=(concat 'post/' model.id '/photo/new')}}
<section id="post-edit">
  {{#form-for model onsubmit=(route-action 'save') as |f|}}
    <div class="frame">
      <header>
        <h2>
          {{#link-to 'admin.posts'}}Posts{{/link-to}} {{icon 'right-chevron'}} {{model.title}}
        </h2>
        {{f.submit}}
      </header>
      <nav>
        <hr>
        {{#if model.published}}
          {{#action-link (route-action 'unpublish' model)}}
            {{icon "import"}} Unpublish
          {{/action-link}}
        {{else}}
          {{#action-link (route-action 'publish' model)}}
            {{icon "export"}} Publish
          {{/action-link}}
        {{/if}}
        {{#action-link action=(action (mut isDeleting) true)}}
          {{icon "cancel-solid"}} Delete Post
        {{/action-link}}
        {{#if isDeleting}}
          {{dialog-box (component 'delete-dialog'
              model=model
              onsubmit=(route-action 'deleteRecord' model))
            ondismiss=(action (mut isDeleting) false)}}
        {{/if}}
      </nav>
      <hr class="thick">
    </div>
    <div class="cover-photo">
      {{#f.photo 'coverPhoto' max=1}}
        {{icon 'add-solid'}} Add Cover Photo
      {{/f.photo}}
    </div>
    <div class="frame">
      <div class="flex-column">
        <div class="flex-row half">
          {{f.text 'title'}}
          <div class="flex-row half">
            {{f.date 'startsAt'}}
            {{f.date 'endsAt' autocomplete=f.changeset.startsAt}}
          </div>
        </div>
      </div>
      <div class="flex-column">
        {{f.editor 'description' rows=6 onupload=(route-action 'addPhoto' model)}}
      </div>

      <header>
        <h4>Events</h4>
      </header>
      <hr class="thick">
      <div class="flex-row">
        {{#calendar-with-events events=model.sessions as |session|}}
          {{#form-for session as |f|}}
            <div class="flex-row half">
              <div>
                {{f.text 'title'}}
                <div class="flex-row half">
                  {{f.datetime 'startsAt'}}
                  {{f.datetime 'endsAt'}}
                </div>
                {{f.textarea 'description' rows=2}}
                {{#f.autocomplete 'location' key='name' onquery=(route-action 'query' 'location') autocomplete=model.location}}
                  {{#action-link action=(action (mut isAdding) f.model)}}
                    {{icon "add-solid"}} Add Location
                  {{/action-link}}
                  {{#if (equals isAdding f.model)}}
                    {{dialog-box (component 'new-location-dialog'
                        onsubmit=(route-action 'createLocation' f.changeset))
                      ondismiss=(action (mut isAdding) null)}}
                  {{/if}}
                {{/f.autocomplete}}
              </div>
              <div>
                <label>Guests</label>
                <hr>
                {{#f.form-for 'guests' class='flex-row half' as |f gdx|}}
                  <div>
                    {{#f.autocomplete 'teacher' key='name' onquery=(route-action 'query' 'teacher')}}
                      {{#action-link action=(action (mut isAdding) f.model)}}
                        {{icon "add-solid"}} Add Teacher
                      {{/action-link}}
                      {{#if (equals isAdding f.model)}}
                        {{dialog-box (component 'new-teacher-dialog'
                            onsubmit=(route-action 'createTeacher' f.changeset))
                          ondismiss=(action (mut isAdding) null)}}
                      {{/if}}
                    {{/f.autocomplete}}
                  </div>
                  {{f.text 'role'}}
                  <div class="remove">
                    {{#tool-tip for=(concat "sessions-" idx "-guest-" gdx)}}
                      Remove Guest
                    {{/tool-tip}}
                    {{#action-link (route-action 'delete' f.model) id=(concat "sessions-" idx "-guest-" gdx)}}
                      {{icon "cancel-solid"}}
                    {{/action-link}}
                  </div>
                {{/f.form-for}}
                <br>
                {{#action-link (route-action 'addGuest' f.model)}}
                  {{icon "add-solid"}} Add Guest
                {{/action-link}}
                <hr class="double">
                {{f.checkbox 'hasOnlineSales' label="Online Sales"}}
                {{#if f.changeset.hasOnlineSales}}
                  <div class="flex-row half">
                    {{f.currency 'ticketCost' min=0}}
                    {{f.number 'maxAttendees' min=0}}
                  </div>
                {{/if}}
                {{#action-link (route-action 'delete' f.model)}}
                  {{icon "cancel-solid"}} Remove Session
                {{/action-link}}
              </div>
            </div>
          {{/form-for}}
        {{/calendar-with-events}}
      </div>
    </div>
  {{/form-for}}
</section>
{{/file-dropzone}}