{{#file-dropzone name='new-location-photo'}}
  {{#form-for onsubmit=(action 'submit') as |f|}}
    <header>{{icon 'location-solid'}} Add Location</header>
    <div class="body">
      {{f.text 'name'}}
      {{f.text 'url' label='Website'}}
      {{f.textarea 'address' rows=2}}
      <div class="flex-row half collapse-none">
        {{f.text 'postalCode' onblur=(action 'hydrateLocation' f)}}
      </div>
      <div class="flex-row half collapse-none">
        {{f.text 'city'}}
        {{f.text 'regionCode'}}
      </div>
      {{#f.file 'photo' name='new-location-photo' accept='image/*' as |file|}}
        <img src="{{file.url}}" alt="{{file.name}}" />
      {{else}}
        {{icon 'add-solid'}} Add Photo
      {{/f.file}}
    </div>
    <footer>
      <button>Add Location</button>
      {{#action-link action=dismiss}}Cancel{{/action-link}}
    </footer>
  {{/form-for}}
{{/file-dropzone}}
