{{title "Ledger"}}

<div id="ledger">
  <div class="frame">
    <header>
      <h2>
        {{search-field query=q onquery=(action (mut q)) placeholder="Ledger"}}
      </h2>
    </header>
    <nav>
      <hr>
      {{#action-link action=(action (mut isDonating) true)}}
        {{icon "add-solid"}} Add Donation
      {{/action-link}}
      {{#action-link action=(action (mut isExpensing) true)}}
        {{icon "cancel-solid"}} Add Expense
      {{/action-link}}
      {{#if isExpensing}}
        {{dialog-box (component 'new-expense-dialog'
            onsubmit=(route-action 'createTransaction'))
          ondismiss=(action (mut isExpensing) false)}}
      {{/if}}
      {{#if isDonating}}
        {{dialog-box (component 'new-donation-dialog'
            onsubmit=(route-action 'createTransaction'))
          ondismiss=(action (mut isDonating) false)}}
      {{/if}}
    </nav>
  </div>
  <div class="balance-bar {{if (gt model.meta.balance.amount 10000) 'positive' (if (gt model.meta.balance.amount 0) 'low' 'negative')}}">
    <div class="frame">
      <span class='smcp'>Balance</span> {{l 'currency' model.meta.balance.amount currency=model.meta.balance.currency}}
    </div>
  </div>
  {{sortable-list columns=(list 'description' 'paidBy' 'paidAt' (hash key='paid' asc='-amount' desc='amount')) load=(route-action 'load') rows=model.model total=model.meta.page.total href='admin.transaction' sort=sort icon='piggy-bank'}}
</div>