{{title "Expenses"}}

<div id="expenses">
  <div class="frame">
    <header>
      <h2>
        {{search-field query=q onquery=(action (mut q)) placeholder="Expenses"}}
      </h2>
    </header>
    <nav>
      <hr>
      {{#action-link action=(action (mut isAdding) true)}}
        {{icon "piggy-bank-solid"}} Add Expense
      {{/action-link}}
      {{#if isAdding}}
        {{dialog-box (component 'new-expense-dialog'
            onsubmit=(route-action 'createExpense'))
          ondismiss=(action (mut isAdding) false)}}
      {{/if}}
    </nav>
  </div>
  {{sortable-list columns='name expensedAt expensedBy:PaidBy amount:expense:Amount' rows=model href='expense' sort=sort icon='piggy-bank'}}
</div>