{{#unless (equals fieldType 'check-box')}}
  {{#if label}}<label for={{inputId}}>{{{label}}}</label>{{/if}}
{{/unless}}
{{#component fieldType
  inputId=inputId
  name=(or name (concat modelName '/' model.id '/' fieldName))
  accept=accept
  autocomplete=autocomplete
  placeholder=placeholder
  value=(if fieldName (get model fieldName) model)
  key=key
  min=min
  max=max
  multiple=multiple
  onblur=onblur
  ondelete=ondelete
  onchange=(action onchange model (if fieldName fieldName index))
  onquery=(action 'query')
  rows=rows as |arg1|}}
  {{yield arg1}}
{{else}}
  {{yield to='inverse'}}
{{/component}}
{{#if (equals fieldType 'check-box')}}
  {{#if label}}<label for={{inputId}}>{{{label}}}</label>{{/if}}
{{/if}}
