<section id="edit">
  {{#form-for model as |f|}}
    <div class="frame">
      <header>
        <h2>
          {{#link-to 'event'}}{{model.title}}{{/link-to}} {{icon "right-chevron"}} Edit
        </h2>
      </header>
      <hr class="thick">
      <div class="flex-row half">
        <div>
          <div class="flex-column">
            {{f.text 'title'}}
            <div class="flex-row half">
              {{f.date 'startsAt'}}
              {{f.date 'endsAt'}}
            </div>
          </div>
        </div>
        <div>
          <div class="flex-column">
            {{f.textarea 'description' rows=6}}
          </div>
        </div>
      </div>
    </div>
    {{#each f.model.coverPhotos as |coverPhoto|}}
      <img src={{coverPhoto.url}}/>
    {{/each}}

    <div class="frame">
      <header>
        <h6>Sessions</h6>
        <a class="add-session">{{icon "add-solid"}} Add Session</a>
      </header>
      {{#f.form-for 'sessions' as |f|}}
        {{f.text 'title'}}
        {{f.textarea 'description'}}
        {{f.autocomplete 'location' key='name' onquery=(route-action 'query' 'location')}}
        {{#f.form-for 'guests' class='flex-row half' as |f|}}
          {{f.autocomplete 'teacher' key='name' onquery=(route-action 'query' 'teacher')}}
          {{f.text 'role'}}
        {{/f.form-for}}
      {{else}}
        There are no sessions.
        <a class="add-session">{{icon "add-solid"}} Add Session</a>
      {{/f.form-for}}
    </div>
  {{/form-for}}
</section>
