{{remember-document-scroll key=(concat 'event/' model.id '/edit')}}

<section id="edit">
  {{#form-for model onsubmit=(route-action 'save') as |f|}}
    <div class="frame">
      <header>
        <h2>
          {{#link-to 'event'}}{{model.title}}{{/link-to}} {{icon "right-chevron"}} Edit
        </h2>
        <button>Save</button>
      </header>
      <hr class="thick">
      <div class="flex-row half">
        <div>
          <div class="flex-column">
            {{f.text 'title'}}
            <div class="flex-row half">
              {{f.date 'startsAt'}}
              {{f.date 'endsAt'}}
            </div>
          </div>
        </div>
        <div>
          <div class="flex-column">
            {{f.textarea 'description' rows=6}}
          </div>
        </div>
      </div>
    </div>
    {{#each f.model.coverPhotos as |coverPhoto|}}
      <img src={{coverPhoto.url}}/>
    {{/each}}

    <div class="frame">
      <header>
        <h6>Sessions</h6>
        <a class="add-session">{{icon "add-solid"}} Add Session</a>
      </header>
      {{#f.form-for 'sessions' as |f|}}
        <hr>
        <div class="flex-row half">
          <div>
            {{f.text 'title'}}
            {{#f.form-for 'guests' class='flex-row half' as |f|}}
              <div>
                {{f.autocomplete 'teacher' key='name' onquery=(route-action 'query' 'teacher')}}
                {{#action-link action=(action (mut isAdding) f.model)}}
                  {{icon "add-solid"}} Add Teacher
                {{/action-link}}
                {{#if (equals isAdding f.model)}}
                  {{dialog-box (component 'new-teacher-dialog'
                      onsubmit=(route-action 'createTeacher' f.model))
                    ondismiss=(action (mut isAdding) null)}}
                {{/if}}
              </div>
              {{f.text 'role'}}
            {{/f.form-for}}
          </div>
          <div>
            {{f.autocomplete 'location' key='name' onquery=(route-action 'query' 'location')}}
            {{#action-link action=(action (mut isAdding) f.model)}}
              {{icon "add-solid"}} Add Location
            {{/action-link}}
            {{#if (equals isAdding f.model)}}
              {{dialog-box (component 'new-location-dialog'
                  onsubmit=(route-action 'createLocation' f.model))
                ondismiss=(action (mut isAdding) null)}}
            {{/if}}
            {{f.textarea 'description' rows=5}}
          </div>
        </div>
      {{else}}
        There are no sessions.
        <a class="add-session">{{icon "add-solid"}} Add Session</a>
      {{/f.form-for}}
    </div>
  {{/form-for}}
</section>
