{{title (or model.name model.email)}}
<br>
<div class="frame">
  <section id="user">
    <h2>{{#link-to "users"}}Users{{/link-to}} {{icon "right-chevron"}} {{or model.name model.email}}</h2>
    <br>
    <div class="flex-row half">
      <div>
        {{#if model.avatarUrl}}
          <img src="{{model.avatarUrl}}" alt="{{or model.name model.email}}">
        {{/if}}
      </div>
      <div>
        <h3>{{model.name}}</h3>
        <p>{{model.email}}</p>
        <p>
          {{#if model.lastSignInAt}}
            Last seen on {{l 'date' model.lastSignInAt}}<br>
          {{/if}}
          Invited on {{l 'date' model.createdAt}}
        </p>
      </div>
    </div>
  </section>
</div>
