{{title model.name}}
{{remember-document-scroll key=(concat 'location/' model.id)}}

<br>
<div class="frame">
  <section id="location">
    <h2>{{#link-to "locations"}}Locations{{/link-to}} {{icon "right-chevron"}} {{model.name}}</h2>
    <nav>
      <hr>
      {{#action-link action=(action (mut isDeleting) true)}}
        {{icon "cancel-solid"}} Delete Location
      {{/action-link}}
      {{#if isDeleting}}
        {{dialog-box (component 'delete-dialog'
            model=model
            onsubmit=(route-action 'deleteLocation' model))
          ondismiss=(action (mut isDeleting) false)}}
      {{/if}}
      <hr class="thick">
    </nav>
    {{#form-for model class="flex-row half" onsubmit=(route-action 'save') as |f|}}
      <div>
        {{f.photo 'photo' name=(concat 'location/' model.id)}}
        {{g-map latitude=model.latitude longitude=model.longitude}}
      </div>
      <div>
        {{f.text 'name'}}
        {{f.text 'url' label='Website'}}
        {{f.textarea 'address' rows=2}}
        {{f.text 'city'}}
        <div class="flex-row half collapse-none">
          {{f.text 'regionCode'}}
          {{f.text 'postalCode'}}
        </div>
        <br>
        {{f.submit 'Save'}}
      </div>
    {{/form-for}}
  </section>
</div>
