{{#file-dropzone name=(concat name '-img') as |dropzone|}}
  {{#mobiledoc-editor inputId=inputId placeholder=(or placeholder '') mobiledoc=mobiledoc did-create-editor=(action 'configure') on-change=(action 'change') spellcheck=true cards=cards options=(hash parserPlugins=parserPlugins) as |editor|}}
    <nav>
      {{#mobiledoc-markup-button id=(concat inputId '-bold') editor=editor for='strong'}}
        {{icon 'bold'}}
      {{/mobiledoc-markup-button}}
      {{#tool-tip for=(concat inputId '-bold')}}
        Bold [{{#if osx}}&#8984;{{else}}ctrl{{/if}}+b]
      {{/tool-tip}}
      {{#mobiledoc-markup-button id=(concat inputId '-italic') editor=editor for='em'}}
        {{icon 'italic'}}
      {{/mobiledoc-markup-button}}
      {{#tool-tip for=(concat inputId '-italic')}}
        Italicize [{{#if osx}}&#8984;{{else}}ctrl{{/if}}+i]
      {{/tool-tip}}
      {{#mobiledoc-markup-button id=(concat inputId '-underline') editor=editor for='u'}}
        {{icon 'underline'}}
      {{/mobiledoc-markup-button}}
      {{#tool-tip for=(concat inputId '-underline')}}
        Underline [{{#if osx}}&#8984;{{else}}ctrl{{/if}}+u]
      {{/tool-tip}}
      {{#mobiledoc-section-button id=(concat inputId '-blockquote') editor=editor for='blockquote'}}
        {{icon 'quote'}}
      {{/mobiledoc-section-button}}
      {{#tool-tip for=(concat inputId '-blockquote')}}
        Quote
      {{/tool-tip}}
      {{#mobiledoc-link-button id=(concat inputId '-link') editor=editor}}
        {{#if editor.activeMarkupTagNames.isA}}
          {{icon 'unlink'}}
        {{else}}
          {{icon 'link'}}
        {{/if}}
      {{/mobiledoc-link-button}}
      {{#tool-tip for=(concat inputId '-link')}}
        {{#if editor.activeMarkupTagNames.isA}}
          Remove Link [{{#if osx}}&#8984;{{else}}ctrl{{/if}}+k]
        {{else}}
          Link [{{#if osx}}&#8984;{{else}}ctrl{{/if}}+k]
        {{/if}}
      {{/tool-tip}}
      {{#file-upload name=(concat name '-img') id=(concat inputId '-img') onfileadd=(action 'upload' editor.editor)}}
        {{icon 'img'}}
      {{/file-upload}}
      {{#tool-tip for=(concat inputId '-img')}}
        Add Image
      {{/tool-tip}}
      <button id="{{inputId}}-youtube" onclick={{action 'setRange' editor.editor.range}}>
        {{icon 'youtube'}}
      </button>
      {{#pop-over for=(concat inputId '-youtube') on='click' gravity='s' ondidinsert=(action (mut popover)) class='link-editor'}}
        {{text-field onchange=(action (mut embedUrl)) value=embedUrl}}
        <button onclick={{action 'addYoutubeEmbed' editor.editor embedUrl}}>{{icon 'check-solid'}}</button>
        <button onclick={{action 'cancelYoutubeEmbed'}}>{{icon 'cancel-solid'}}</button>
      {{/pop-over}}
      {{#tool-tip for=(concat inputId '-youtube')}}
        Embed Youtube Video
      {{/tool-tip}}
    </nav>
  {{/mobiledoc-editor}}
{{/file-dropzone}}
