{{remember-document-scroll key=(concat 'event/' model.id)}}

<div class="frame">
  <section>
    <h2>{{{model.title}}}</h2>
    {{format-date-range model.startsAt model.endsAt}}<br>
    {{#each model.sessions as |session|}}
      {{session.location.name}}
    {{/each}}
  </section>
</div>
<section id="schedule" class="frame">
  <header>
    <h2>Schedule</h2>
    {{#if model.registerable}}
      <button class="with-icon">
        {{icon "ticket"}} Sign Up
      </button>
    {{/if}}
  </header>
  <hr class="thick">

  {{#each-in model.sessionsByDay as |day sessions|}}
    <h4 class="accordion">
      {{l 'date' day format="MMMM D, YYYY"}} {{icon "down-chevron"}}
    </h4>
    <hr>
    <ul class="sessions">
      {{#each sessions as |session|}}
        <li class="session">
          <h3>{{{session.title}}}</h3>
          {{#each session.guests as |guest|}}
            <h6>{{guest.teacher.name}}, {{guest.role}}</h6>
          {{/each}}
          {{#if session.level}}
            <h6>For {{session.level}} Dancers</h6>
          {{/if}}
          <h6>{{format-time-range session.startsAt session.endsAt}}</h6>
          {{#if session.location}}
            <h6><a href="#{{session.location.slug}}">{{session.location.name}}</a></h6>
          {{/if}}
          {{simple-format session.description}}
        </li>
      {{/each}}
    </ul>
  {{/each-in}}
</section>

<section id="guests" class="frame">
  <h2>{{#if (gt model.guests.size 1)}}Our Guests{{else}}Our Guest{{/if}}</h2>
  <hr class="thick">
  {{#each (await model.uniqueGuests) as |guest|}}
    {{#with guest.teacher as |teacher|}}
      {{#if teacher.photos.length}}
        <div class="flex-row half" id="{{dasherize teacher.name}}">
          <div class="guest-photos">
            {{#each teacher.photos as |photo|}}
              <img src="{{photo.url}}" alt="{{teacher.name}}">
            {{/each}}
          </div>
          <div>
            <h4>
              {{#if teacher.url}}
                <a href="{{teacher.url}}" alt="{{teacher.name}}">{{teachern.name}}</a>
              {{else}}
                {{teacher.name}}
              {{/if}}
            </h4>
            <h6>{{guest.roles}}</h6>
            {{simple-format teacher.bio}}
          </div>
        </div>
      {{/if}}
    {{/with}}
  {{/each}}
</section>
