<div class="frame">
  <section>
    <h2>{{{model.title}}}</h2>
    {{#if session.currentUser}}
      <nav>
        <hr>
        {{#link-to 'event.edit'}}
          {{icon "edit"}} Edit
        {{/link-to}}
        {{#link-to 'event.ledger'}}
          {{icon "piggy-bank"}} Ledger
        {{/link-to}}
        {{#link-to 'event.photos'}}
          {{icon "photo"}} Photos
        {{/link-to}}
        {{#if model.published}}
          {{#action-link (route-action 'unpublish' model)}}
            {{icon "import"}} Unpublish
          {{/action-link}}
        {{else}}
          {{#action-link (route-action 'publish' model)}}
            {{icon "export"}} Publish
          {{/action-link}}
        {{/if}}
        <hr>
      </nav>
    {{/if}}
    {{format-date-range model.startsAt model.endsAt}}<br>
    {{#each model.sessions as |session|}}
      {{session.location.name}}
    {{/each}}
  </section>
</div>
<section id="schedule" class="frame">
  <header>
    <h2>Schedule</h2>
    {{#if model.registerable}}
      <button class="with-icon">
        {{icon "ticket"}} Sign Up
      </button>
    {{/if}}
  </header>
  <hr class="thick">

  {{#each-in model.sessionsByDay as |day sessions|}}
    <h4 class="accordion">
      {{l 'date' day format="MMMM D, YYYY"}} {{icon "down-chevron"}}
    </h4>
    <hr>
    <ul class="sessions">
      {{#each sessions as |session|}}
        <li class="session">
          <h3>{{{session.title}}}</h3>
          {{#each session.guests as |guest|}}
            <h6>{{guest.teacher.name}}, {{guest.role}}</h6>
          {{/each}}
          {{#if session.level}}
            <h6>For {{session.level}} Dancers</h6>
          {{/if}}
          <h6>{{format-time-range session.startsAt session.endsAt}}</h6>
          {{#if session.location}}
            <h6><a href="#{{session.location.slug}}">{{session.location.name}}</a></h6>
          {{/if}}
          {{simple-format session.description}}
        </li>
      {{/each}}
    </ul>
  {{/each-in}}
</section>
